#|Ignore the auto original directory 
07p/
#| Ignore o files < fortran compilation
*.o
#| Ignore exe files < fortran compilation
*.exe 
#| Ignore diagnostic files < AUTO output
d.*   
s.*
#b.* DO NOT IGNORE THESE: I NEED THE FILESIN ZilliCuic11_SideStudy2.../Res/epsH/ folder.
#| Ignore temporary backups 
*~
#| Ignore 
fort.*
#| Ignore 
dummy_write_file.txt
