#|Ignore the auto original directory 
07p/
#| Ignore o files < fortran compilation
*.o
#| Ignore exe files < fortran compilation
*.exe 
#| Ignore diagnostic files < AUTO output
d.*   
s.*
b.*
#| Ignore temporary backups 
*~
#| Ignore 
fort.~
#| Ignore 
dummy_write_file.txt
